@model TodosUsuariosViewModel

@{
    ViewData["Title"] = "Exibir Usuarios";

    if (TempData["FalhaAtualziar"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaAtualziar"]
        </div>
    } else if (TempData["SucessoExclusao"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoExclusao"]
        </div>
    } else if (TempData["SucessoAtualizar"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoAtualizar"]
        </div>
    } else if (TempData["FalhaExclusao"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaExclusao"]
        </div>
    }
}

<form asp-controller="Usuario" asp-action="ExibirUsuarios" method="get">
    <div class="row align-items-end">
        <div class="col-md-3">
            <label for="tipo-usuario-filtro">Tipo de Usuario:</label>
            <select class="form-control" id="tipo-usuario-filtro" name="filtroTipoUsuario" asp-items="@(new SelectList(Model.TipoUsuarios, "Tipo", "Tipo"))">
                <option value="">Selecione um opção</option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="nome-usuario">Nome:</label>
            <input type="text" class="form-control" id="nome-usuario" placeholder="Nome usuario" name="filtroNomeUsuario">
        </div>

        <div class="col-md-3">
            <label for="email-usuario">Email:</label>
            <input type="text" class="form-control" id="email-usuario" placeholder="exemplo@email.com" name="filtroEmail">
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">NOME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">TIPO USUARIO</th>
            <th scope="col">AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Usuario Usuario in Model.Usuarios) {
            <tr>
                <td>@Usuario.Nome</td>
                <td>@Usuario.Email</td>
                <td>@Usuario.TipoUsuario.Tipo</td>
                <td>
                    <a asp-controller="Usuario" asp-action="EditarUsuario" asp-route-id="@Usuario.Id"><i class="bi bi-pencil-fill"></i></a>
                    <span>|</span>
                    <a asp-controller="Usuario" asp-action="ConfirmarExclusaoUsuario" asp-route-id="@Usuario.Id"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
