@model Usuario
@{
    ViewData["Title"] = "Meu Perfil";
}

<style>
    .profile-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #007bff;
    }

    .profile-card {
        max-width: 800px;
        margin: 50px auto;
        padding: 30px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        border-radius: 15px;
        background-color: #fff;
    }

    .profile-info h3 {
        margin-bottom: 15px;
    }

    .profile-info p {
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <div class="profile-card d-flex flex-column flex-md-row align-items-center">
        <div class="text-center mb-4 mb-md-0 me-md-5">
            <img src="@Model.FotoPerfilUrl" alt="Foto do Perfil" class="profile-img border border-light shadow-sm">
            <form asp-controller="Usuario" asp-action="SalvarFotoPerfil" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="@Model.Id">
                <div class="mb-3">
                    <input type="file" class="form-control mt-3" accept="image/*" asp-for="@Model.FotoPerfil">
                    <button type="submit" class="btn btn-primary mt-2">Salvar</button>
                </div>
            </form>
        </div>

        <div class="profile-info flex-grow-1">
            <h3>@Model.Nome</h3>
            <p><strong>Email:</strong> @Model.Email</p>
            <p><strong>Tipo usuário:</strong> @Model.TipoUsuario.Tipo</p>
            <p><strong>Empresas vinculadas:</strong></p>
            <ul class="list-group">
                @foreach (var empresa in Model.EmpresasVinculadas) {
                    <li class="list-group-item">@empresa.RazaoSocial</li>

                }
            </ul>
        </div>
    </div>
</div>