@model UsuarioViewModel

@{
    ViewData["Title"] = "Cadastrar usuario";

    if (TempData["FalhaCadastro"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaCadastro"]
        </div>
    }else if (TempData["SucessoCadastro"] != null){
        <div class="alert alert-success" role="alert">
            @TempData["SucessoCadastro"]
        </div>
    }
}

<form asp-controller="Usuario" asp-action="SalvarUsuario" method="post">
    <div class="form-group">
        <label for="nome-usuario">Nome:</label>
        <input type="text" class="form-control" id="nome-usuario" placeholder="Nome" asp-for="@Model.Usuario.Nome" required>
    </div>

    <div class="form-group">
        <label for="email-usuario">Email:</label>
        <input type="email" class="form-control" id="email-usuario" placeholder="Nome" asp-for="@Model.Usuario.Email" required>
    </div>

    <div class="form-group">
        <label for="email-usuario">Senha:</label>
        <input type="password" class="form-control" id="senha-usuario" placeholder="Senha" asp-for="@Model.Usuario.Senha" required>
    </div>

    <div class="form-group">
        <label for="tipo-usuario">Tipo de usuario:</label>
        <select asp-for="@Model.Usuario.TipoId" class="form-control" id="tipo-usuario" asp-items="@(new SelectList(Model.TipoUsuario, "Id","Tipo"))">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
