@model IEnumerable<Empresa>

@{
    ViewData["Title"] = "Exibir todas empresas ";

    if (TempData["SucessoAcaoEmpresa"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoAcaoEmpresa"]
        </div>
    }
}

<link rel="stylesheet" href="~/css/TableStyle.css" asp-append-version="true" />

<form asp-action="ExibirTodasEmpresas" asp-controller="Empresa" method="get" class="search-container">
    <select class="form-select" name="filter">
        <option value="Ativas" selected>Empresas ativas</option>
        <option value="Inativas">Empresas inativas</option>
        <option value="Todas">Todas empresas</option>
    </select>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome Fantasia</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col">Enquadramento</th>
            <th scope="col">Cidade - UF</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Empresa Empresa in Model) {
                <tr>
                    <td>@Empresa.RazaoSocial</td>
                    <td>@Empresa.CNPJ</td>
                    <td>@Empresa.EmailContato.EnderecoEmail</td>
                    <td>@Empresa.TelefoneContato</td>
                    <td>@Empresa.Enquadramento.Sigla - @Empresa.Enquadramento.Tipo</td>
                    <td>@Empresa.Endereco.Cidade.Nome - @Empresa.Endereco.Cidade.Estado.UF</td>
                    <td>
                        <div class="grp-btn-actions">
                            <a class="btn btn-info btn-sm" asp-controller="Empresa" asp-action="ExibirInfoEmpresa" asp-route-id="@Empresa.Id">Exibir</a>
                            <a class="btn btn-secondary btn-sm" asp-controller="Empresa" asp-action="EditarEmpresa" asp-route-id="@Empresa.Id">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-controller="Empresa" asp-action="Apagar" asp-route-id="@Empresa.Id">Apagar</a>
                            <a class="btn btn-primary btn-sm" asp-controller="Empresa" asp-action="ExibirLoginsPortais" asp-route-id="@Empresa.Id">Logins</a>
                            @if (!Empresa.Ativo){
                                <a class="btn btn-success btn-sm" asp-controller="Empresa" asp-action="AtualizarStatus" asp-route-id="@Empresa.Id">Ativar</a>
                            }else{
                                <a class="btn btn-warning btn-sm" asp-controller="Empresa" asp-action="AtualizarStatus" asp-route-id="@Empresa.Id">Inativar</a>

                            }

                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>