@model Licitacao

@{
    ViewData["Title"] = "Atualizar Licitação ";
}

<form asp-action="Atualizar" asp-controller="Licitacao" method="post">
    <input type="hidden" asp-for="@Model.Id" />

    <div class="form-group">
        <label for="tipo-licitacao">Tipo de licitação:</label>
        <select class="form-control" id="tipo-licitacao" asp-for="@Model.TipoLicitacao.Id">
            @{
                IFacadeGeneric facadeTipoLicitacao = new FacadeTipoLicitacao();

                foreach (TipoLicitacao TipoLicitacao in facadeTipoLicitacao.SelecionarTodos()) {
                    if(TipoLicitacao.Id == Model.TipoLicitacao.Id) {
                        <option value="@TipoLicitacao.Id" selected>@TipoLicitacao.Tipo</option>
                    }
                    <option value="@TipoLicitacao.Id">@TipoLicitacao.Tipo</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="objeto-licitacao">Objeto da licitação:</label>
        <input type="text" class="form-control" id="objeto-licitacao" placeholder="Objeto" asp-for="@Model.Objeto">
    </div>
    <div class="form-group">
        <label for="numero-licitacao">Numero edital:</label>
        <input type="text" class="form-control" id="numero-licitacao" placeholder="Numero" asp-for="@Model.Numero">
    </div>
    <div class="form-group">
        <label for="tipo-disputa-licitacao">Tipo de disputa:</label>
        <select class="form-control" id="tipo-disputa-licitacao" asp-for="@Model.TipoDisputa.Id">
            @{
                IFacadeGeneric facadeTipoDisputa = new FacadeTipoDisputa();

                foreach (TipoDisputa TipoDisputa in facadeTipoDisputa.SelecionarTodos()) {
                    if (TipoDisputa.Id == Model.TipoDisputa.Id) {
                        <option value="@TipoDisputa.Id" selected>@TipoDisputa.Tipo</option>
                    }
                    <option value="@TipoDisputa.Id">@TipoDisputa.Tipo</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="data-licitacao">Data da licitação:</label>
        <input type="date" class="form-control" id="data-licitacao" asp-for="@Model.Data">
    </div>
    <div class="form-group">
        <label for="preço-estimado-licitacao">Preço estimado:</label>
        <input type="number" class="form-control" id="preço-estimado-licitacao" asp-for="@Model.ValorEstimado">
    </div>
    <div class="form-group">
        <label for="estado-licitacao">Estado:</label>
        <select class="form-control" id="estado-licitacao" asp-for="@Model.Cidade.Estado.Id">
            @{
                IFacadeGeneric facadeEstado = new FacadeEstado();

                foreach (Estado estado in facadeEstado.SelecionarTodos()) {
                    if(estado.Id == Model.Cidade.Estado.Id) {
                        <option value="@estado.Id" selected>@estado.Nome - @estado.UF</option>
                    }
                    <option value="@estado.Id">@estado.Nome - @estado.UF</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="cidade-licitacao">Cidade:</label>
        <select class="form-control" id="cidade-licitacao" data-placeholder="Selecione um estado primeiro" asp-for="@Model.Cidade.Id">
            <option value="">Selecione um estado primeiro</option>
        </select>
    </div>
    <div class="form-group">
        <label for="estado-licitacao">Portal:</label>
        <select class="form-control" id="estado-licitacao" asp-for="@Model.Portal.Id">
            @{
                IFacadeGeneric facadePortal = new FacadePortal();

                foreach (Portal Portal in facadePortal.SelecionarTodos()) {
                    if (Portal.Id == Model.Portal.Id) {
                        <option value="@Portal.Id" selected>@Portal.Nome</option>
                    }
                    <option value="@Portal.Id">@Portal.Nome</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>

<script src="~/js/ValidarData.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var estadoId = $('#estado-licitacao').val();
        var cidadeSelecionadaId = '@Model.Cidade.Id';

        if (estadoId) {
            carregarCidades(estadoId, cidadeSelecionadaId);
        }

        $('#estado-licitacao').change(function () {
            estadoId = $(this).val();
            if (estadoId) {
                carregarCidades(estadoId);
            } else {
                $('#cidade-licitacao').empty().append('<option>Selecione um estado primeiro</option>');
            }
        });

        function carregarCidades(estadoId, cidadeSelecionadaId) {
            $.ajax({
                url: '@Url.Action("GetCidadePorEstado", "Cidade")',
                type: 'GET',
                data: { estadoId: estadoId },
                success: function (cidades) { 
                    var cidadeSelect = $('#cidade-licitacao');
                    cidadeSelect.empty();

                    if (cidades.length > 0) {
                        $.each(cidades, function (index, cidade) {
                            if (cidade.id == cidadeSelecionadaId) {
                                cidadeSelect.append('<option value="' + cidade.id + '" selected>' + cidade.nome + '</option>');
                            } else {
                                cidadeSelect.append('<option value="' + cidade.id + '">' + cidade.nome + '</option>');
                            }
                        });
                    } else {
                        cidadeSelect.append('<option>Nenhuma cidade encontrada</option>');
                    }
                },
                error: function () {
                    alert('Erro ao carregar as cidades.');
                }
            });
        }
    });

</script>