@model IEnumerable<Licitacao>

@{
    ViewData["Title"] = "Exibir todas licitações ";

    if (TempData["LicitacaoApagadaSucesso"] != null ) {
        <div class="alert alert-success" role="alert">
            @TempData["LicitacaoApagadaSucesso"]
        </div>
    } else if (TempData["SucessoAtualizacao"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoAtualizacao"]
        </div>
    } else if (TempData["LicitacaoApagadaFalha"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["LicitacaoApagadaFalha"]
        </div>
    } else if (TempData["FalhaAtualizacao"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaAtualizacao"]
        </div>
    }
}

<link rel="stylesheet" href="~/css/TableStyle.css" asp-append-version="true" />
<form asp-action="ExibirTodasLicitacoes" asp-controller="Licitacao" method="get" class="search-container">
    <select class="form-select" name="filter">
        <option value="Proximas">Próximas licitações</option>
        <option value="Todas">Todas as licitações</option>
        <option value="Semana">Licitações da semana</option>
    </select>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Cidade - UF</th>
            <th scope="col">Objeto</th>
            <th scope="col">Numero</th>
            <th scope="col">Data</th>
            <th scope="col">Disputa por</th>
            <th scope="col">Estimado</th>
            <th scope="col">Portal</th>
            <th scope="col">Empresa</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Licitacao licitacao in Model) {
                <tr>
                    <td>@licitacao.TipoLicitacao.Sigla</td>
                    <td>@licitacao.Cidade.Nome - @licitacao.Cidade.Estado.UF</td>
                    <td>@licitacao.Objeto</td>
                    <td>@licitacao.Numero</td>
                    <td>@licitacao.Data.ToString("dd/MM/yyyy")</td>
                    <td>@licitacao.TipoDisputa.Tipo</td>
                    <td>R$ @licitacao.ValorEstimado.ToString("N", new System.Globalization.CultureInfo("pt-Br"))</td>
                    <td><a href="@licitacao.Portal.Link">@licitacao.Portal.Nome</a></td>
                    <td>@licitacao.Empresa.NomeFantasia </td>
                    <td>
                        <div class="grp-btn-actions">
                            <a class="btn btn-secondary btn-sm" asp-controller="Licitacao" asp-action="AtualizarLicitacao" asp-route-id="@licitacao.Id">Atualizar</a>
                            <a class="btn btn-danger btn-sm" asp-controller="Licitacao" asp-action="Apagar" asp-route-id="@licitacao.Id">Apagar</a>
                            @if(!licitacao.Confirmacao){
                                <a class="btn btn-success btn-sm" asp-controller="Licitacao" asp-action="AtualizarConfirmacao" asp-route-licitacaoId="@licitacao.Id" asp-route-empresaId="@licitacao.Empresa.Id">Confirmar</a>
                            }else{
                                <a class="btn btn-warning btn-sm" asp-controller="Licitacao" asp-action="AtualizarConfirmacao" asp-route-licitacaoId="@licitacao.Id" asp-route-empresaId="@licitacao.Empresa.Id">Recusar</a>
                            }
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>