@model EmpresaReceitaWsResponse

@{
    ViewData["Title"] = "Exibir informações da empresa";


}

<h5>Confirme se os dados consultados estão corretos</h5>

<form asp-controller="Empresa" asp-action="SalvarEmpresa" method="post">
    <fieldset class="form-group">
        <legend class="fieldset-legend">Dados da empresa</legend>

        <div class="form-group">
            <label for="nome-usuario">Razão Social:</label>
            <input type="text" class="form-control" id="nome-usuario" asp-for="@Model.nome" readonly>
        </div>

        <div class="form-group">
            <label for="email-usuario">CNPJ:</label>
            <input type="text" class="form-control" id="email-usuario" asp-for="@Model.cnpj" readonly>
        </div>

        <div class="form-group">
            <label for="email-usuario">PORTE:</label>
            <input type="text" class="form-control" id="email-usuario" asp-for="@Model.porte" readonly>
        </div>

        <div class="form-group">
            <label for="tipo-usuario">Logradouro:</label>
            <input type="text" class="form-control" id="tipo-usuario" asp-for="@Model.logradouro" readonly>
        </div>

        <div class="form-group">
            <label for="tipo-usuario">Numero:</label>
            <input type="text" class="form-control" id="tipo-usuario" asp-for="@Model.numero" readonly>
        </div>

        <div class="form-group">
            <label for="tipo-usuario">Bairro:</label>
            <input type="text" class="form-control" id="tipo-usuario" asp-for="@Model.bairro" readonly>
        </div>

        <div class="form-group">
            <label for="tipo-usuario">Complemento:</label>
            <input type="text" class="form-control" id="tipo-usuario" asp-for="@Model.complemento" readonly>
        </div>

        <div class="form-group">
            <label for="tipo-usuario">CEP:</label>
            <input type="text" class="form-control" id="tipo-usuario" asp-for="@Model.cep" readonly>
        </div>

        <div class="form-group">
            <label for="tipo-usuario">Cidade:</label>
            <input type="text" class="form-control" id="tipo-usuario" asp-for="@Model.municipio" readonly>
        </div>

        <div class="form-group">
            <label for="tipo-usuario">UF:</label>
            <input type="text" class="form-control" id="tipo-usuario" asp-for="@Model.uf" readonly>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <legend class="fieldset-legend">Dados do Administrador/Representante legal</legend>

        <div class="form-group">
            <label for="nome-usuario">Nome:</label>
            <input type="text" class="form-control" id="nome-usuario" asp-for="@Model.Usuario.Nome" required>
        </div>

        <div class="form-group">
            <label for="email-usuario">Email:</label>
            <input type="text" class="form-control" id="email-usuario" asp-for="@Model.Usuario.Email" required>
        </div>

        <div class="form-group">
            <label for="email-usuario">Tipo Usuario:</label>
            <select asp-for="@Model.Usuario.TipoId" class="form-control" id="tipo-usuario" asp-items="@(new SelectList(Model.TiposUsuario, "Id", "Tipo"))"></select>
        </div>

        <div class="form-group">
            <label for="email-usuario">Senha:</label>
            <input type="text" class="form-control" id="email-usuario" asp-for="@Model.Usuario.Senha" required>
        </div>

    </fieldset>
    <button type="submit" class="btn btn-success">Confirmar</button>
    <a class="btn btn-danger">Cancelar</a>
</form>
