@model TodosEmpresaViewModel

@{
    ViewData["Title"] = "Exibir Empresas";

    if (TempData["FalhaVincular"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaVincular"]
        </div>
    } else if (TempData["SucessoVincular"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoVincular"]
        </div>
    }

    var tipoUsuario = Context.Session.GetString("usuarioTipoUsuario");
}

<form asp-controller="Empresa" asp-action="ExibirTodasEmpresas" method="get">
    <div class="row align-items-end">
        <div class="col-md-3">
            <label for="porte-empresa-filtro">Porte da Empresa:</label>
            <select class="form-control" id="porte-empresa-filtro" name="filtroPorteEmpresa" asp-items="@(new SelectList(Model.PorteEmpresas, "Porte", "Porte"))">
                <option value="">Selecione um opção</option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="razao-social-filtro">Razão Social:</label>
            <input type="text" class="form-control" id="razao-social-filtro" placeholder="Razão Social" name="filtroRazaoSocial">
        </div>

        <div class="col-md-3">
            <label for="cnpj-filtro">CNPJ:</label>
            <input type="text" class="form-control" id="cnpj-filtro" placeholder="00.000.000/0000-00" name="filtroCNPJ">
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">RAZÃO SOCIAL</th>
            <th scope="col">CNPJ</th>
            <th scope="col">PORTE</th>
            @if (tipoUsuario == "REPRESENTANTE LEGAL" || tipoUsuario == "ADMINISTRADOR DE SISTEMA") {
                <th scope="col">USUARIOS VINCULADOS</th>
            }
            <th scope="col">AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Empresa Empresa in Model.Empresas) {
            <tr>
                <td>@Empresa.RazaoSocial</td>
                <td>@Empresa.CNPJ</td>
                <td>@Empresa.PorteEmpresa.Porte</td>
                @if (tipoUsuario == "REPRESENTANTE LEGAL" || tipoUsuario == "ADMINISTRADOR DE SISTEMA") {
                    <td>@Empresa.UsusariosVinculados.Count</td>
                }
                <td>
                    <a asp-controller="Empresa" asp-action="ExibirEmpresa" asp-route-id="@Empresa.Id"><i class="bi bi-info-circle-fill"></i></a>
                    @if (tipoUsuario == "ADMINISTRADOR DE SISTEMA") {
                        <span>|</span>
                        <a asp-controller="Empresa" asp-action="ConfirmarExclusaoEmpresa" asp-route-id="@Empresa.Id"><i class="bi bi-trash-fill"></i></a>
                    }
                    @if (tipoUsuario == "REPRESENTANTE LEGAL" || tipoUsuario == "ADMINISTRADOR DE SISTEMA") {
                        <span>|</span>
                        <a asp-controller="Usuario" asp-action="PesquisarUsuariosPorEmail" asp-route-id="@Empresa.Id"><i class="bi bi-person-plus"></i></a>
                        <span>|</span>
                        <a asp-controller="Relatorio" asp-action="SelecionarTipoRelatorio" asp-route-empresaId="@Empresa.Id"><i class="bi bi-file-earmark-text-fill"></i></a>
                        <span>|</span>
                        <a asp-controller="Grafico" asp-action="Grafico" asp-route-id="@Empresa.Id"><i class="bi bi-bar-chart-fill"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
