@model TodasLicitacoesViewModel

@{
    ViewData["Title"] = "Exibir Licitações";

    if (TempData["ErrorAtualizarLicitcao"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorAtualizarLicitcao"]
        </div>
    } else if (TempData["SucessoAtualizarLicitacao"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoAtualizarLicitacao"]
        </div>
    }
}

<form asp-controller="Licitacao" asp-action="ExibirTodasLicitacao" method="get">
    <div class="row align-items-end">
        <div class="col-md-3">
            <label for="tipo-licitacao-filtro">Tipo Licitação:</label>
            <select  class="form-control" id="tipo-licitacao-filtro" name="filtroTipoLicitacao" asp-items="@(new SelectList(Model.TiposLicitacoes.Select(t => new {Tipo = t.Tipo, Texto = t.Tipo + " - " + t.Sigla}), "Tipo", "Texto"))">
                <option value="">Selecione um opção</option>
            </select>
            
        </div>

        <div class="col-md-3">
            <label for="status-licitacao-filtro">Status Licitação:</label>
            <select  class="form-control" id="status-licitacao-filtro" name="filtroStatusLicitacao" asp-items="@(new SelectList(Model.StatusLicitacoes, "Status", "Status"))">
                 <option value="">Selecione um opção</option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="cidade-licitacao">Cidade:</label>
            <input type="text" class="form-control" id="cidade-licitacao" placeholder="Cidade" name="filtroCidade">
        </div>

        <div class="col-md-3">
            <label for="objeto-licitacao">Objeto:</label>
            <input type="text" class="form-control" id="objeto-licitacao" placeholder="Objeto" name="filtroObjeto">
        </div>

        <div class="col-md-3">
            <label for="data-licitacao">Data Licitação:</label>
            <input type="date" class="form-control" id="data-licitacao" name="filtroData">
        </div>

        <div class="col-md-3">
          <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" name="mostrarSuspensos">
          <label class="form-check-label" for="flexCheckDefault">Mostrar Suspensos/Revogados</label>
        </div>
        
    </div>

    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">TIPO</th>
            <th scope="col">OBJETO</th>
            <th scope="col">DATA</th>
            <th scope="col">CIDADE / UF</th>
            <th scope="col">EMPRESAS</th>
            <th scope="col">STATUS</th>
            <th scope="col">PORTAL</th>
            <th scope="col">AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Licitacao Licitacao in Model.Licitacoes) {
            <tr>
                <td class="table-licitacoes">@Licitacao.TipoLicitacao.Sigla</td>
                <td class="table-licitacoes">@Licitacao.Objeto</td>
                <td class="table-licitacoes">@Licitacao.Data.ToString("dd/MM/yyyy")</td>
                <td class="table-licitacoes">@Licitacao.Municipio.Nome / @Licitacao.Municipio.Estado.Uf</td>
                <td class="table-licitacoes">
                   @foreach(LicitacaoEmpresa LicitacaoEmpresa in Licitacao.Empresas){
                       if(LicitacaoEmpresa.ConfirmacaoParticipacao){
                           <span class="confirmacao-participacao">@LicitacaoEmpresa.Empresa.RazaoSocial.Split(' ')[0]</span><br />
                       }else{
                            <span>@LicitacaoEmpresa.Empresa.RazaoSocial.Split(' ')[0]</span><br />
                       }
                   }
                </td class="table-licitacoes">
                <td class="table-licitacoes">@Licitacao.StatusLicitacao.Status</td>
                <td><a href="@Licitacao.PortalLicitacao.link">@Licitacao.PortalLicitacao.Nome</a></td>
                <td>
                    <a asp-controller="Licitacao" asp-action="ConfirmarLicitacao" asp-route-id="@Licitacao.Id">Confimar</a>
                    <span>|</span>
                    <a asp-controller="Licitacao" asp-action="EditarLicitacao" asp-route-id="@Licitacao.Id">Editar</a>
                    <span>|</span>
                    <a asp-controller="Licitacao" asp-action="AlterarStatus" asp-route-id="@Licitacao.Id">Alterar Status</a>
                    <span>|</span>
                    <a asp-controller="Licitacao" asp-action="EscolherEmpresaVitoria" asp-route-licitacaoId="@Licitacao.Id">Vitória</a>
                </td>
            </tr>
        }
    </tbody>
</table>