@model IEnumerable<Licitacao>

@{
    ViewData["Title"] = "Exibir Licitações";

    if (TempData["ErrorAtualizarLicitcao"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorAtualizarLicitcao"]
        </div>
    } else if (TempData["SucessoAtualizarLicitacao"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoAtualizarLicitacao"]
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">TIPO</th>
            <th scope="col">OBJETO</th>
            <th scope="col">DATA</th>
            <th scope="col">CIDADE / UF</th>
            <th scope="col">EMPRESAS</th>
            <th scope="col">STATUS</th>
            <th scope="col">PORTAL</th>
            <th scope="col">AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Licitacao Licitacao in Model) {
            <tr>
                <td class="table-licitacoes">@Licitacao.TipoLicitacao.Sigla</td>
                <td class="table-licitacoes">@Licitacao.Objeto</td>
                <td class="table-licitacoes">@Licitacao.Data.ToString("dd/MM/yyyy")</td>
                <td class="table-licitacoes">@Licitacao.Municipio.Nome / @Licitacao.Municipio.Estado.Uf</td>
                <td class="table-licitacoes">
                   @foreach(LicitacaoEmpresa LicitacaoEmpresa in Licitacao.Empresas){
                       if(LicitacaoEmpresa.ConfirmacaoParticipacao){
                           <span class="confirmacao-participacao">@LicitacaoEmpresa.Empresa.RazaoSocial.Split(' ')[0]</span><br />
                       }else{
                            <span>@LicitacaoEmpresa.Empresa.RazaoSocial.Split(' ')[0]</span><br />
                       }
                   }
                </td class="table-licitacoes">
                <td class="table-licitacoes">@Licitacao.StatusLicitacao.Status</td>
                <td><a href="@Licitacao.PortalLicitacao.link">@Licitacao.PortalLicitacao.Nome</a></td>
                <td>
                    <a asp-controller="Licitacao" asp-action="ConfirmarLicitacao" asp-route-id="@Licitacao.Id">Confimar</a>
                    <span>|</span>
                    <a asp-controller="Licitacao" asp-action="EditarLicitacao" asp-route-id="@Licitacao.Id">Editar</a>
                    <span>|</span>
                    <a asp-controller="Licitacao" asp-action="AlterarStatus" asp-route-id="@Licitacao.Id">Alterar Status</a>
                </td>
            </tr>
        }
    </tbody>
</table>